<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>userweb</display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddeAction</servlet-name>
    <servlet-class>com.action.AddeAction</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteAction</servlet-name>
    <servlet-class>com.action.DeleteAction</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateAction1</servlet-name>
    <servlet-class>com.action.UpdateAction1</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UserAction</servlet-name>
    <servlet-class>com.action.UserAction</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>OneAction</servlet-name>
    <servlet-class>com.action.OneAction</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginAction</servlet-name>
    <servlet-class>com.action.LoginAction</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Update</servlet-name>
    <servlet-class>com.action.Update</servlet-class>
  </servlet>







  <servlet-mapping>
    <servlet-name>AddeAction</servlet-name>
    <url-pattern>/AddeAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteAction</servlet-name>
    <url-pattern>/DeleteAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateAction1</servlet-name>
    <url-pattern>/UpdateAction1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserAction</servlet-name>
    <url-pattern>/UserAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OneAction</servlet-name>
    <url-pattern>/OneAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginAction</servlet-name>
    <url-pattern>/LoginAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Update</servlet-name>
    <url-pattern>/Update</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>UserAction</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>